@font-face {
  font-family: "AvertaCY";
  font-display: fallback;
  font-weight: 400;
  src: url("../fonts/AvertaCY-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "AvertaCY";
  font-display: fallback;
  font-weight: 500;
  src: url("../fonts/AvertaCY-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "AvertaCY";
  font-display: fallback;
  font-weight: 700;
  src: url("../fonts/AvertaCY-Bold.woff2") format("woff2");
}

* {
  outline: none !important;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: #000000;
  color: #ffffff;
}

::selection {
  background: #000000;
  color: #ffffff;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #030305;
}

a {
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #B81F13;
  background: none;
}

a:hover {
  color: #dd2517;
  text-decoration: none;
}

button {
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000000;
  background: #B81F13;
  cursor: pointer;
  -webkit-appearance: none !important;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  pointer-events: none;
}

p {
  padding: 0;
  margin: 0 0 25px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: -0.5px;
}

ul,
ol {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0 0 25px;
}

ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

ul li,
ol li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.app-page.is-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 140px 0 0;
}

.app-page.is-centered .app-header .btn-register {
  display: none;
}

.app-container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding: 0 50px;
  max-width: 1400px;
}

.text-md {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

section {
  padding: 80px 0;
}

.app-title {
  margin-bottom: 80px;
  max-width: 800px;
}

.app-title h2 {
  margin: 0;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.01em;
  color: #ffffff;
  font-weight: 700;
}

.app-title h2 .strong {
  display: inline-block;
  font-weight: 800;
  font-size: 44px;
  line-height: 46px;
  letter-spacing: -0.01em;
  white-space: nowrap;
}

.app-title h2 .strong span {
  background: -webkit-gradient(linear, left top, right top, color-stop(-10.06%, #B81F13), color-stop(42.38%, #E75235));
  background: -o-linear-gradient(left, #B81F13 -10.06%, #E75235 42.38%);
  background: linear-gradient(90deg, #B81F13 -10.06%, #E75235 42.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.app-title.is-centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section-intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-intro .intro-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.section-intro .intro-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-intro .intro-content .intro-left {
  width: 55%;
  padding-right: 160px;
}

.section-intro .intro-content .intro-left .intro-title .intro-brand {
  margin-bottom: 50px;
}

.section-intro .intro-content .intro-left .intro-title .intro-brand .brand-desc {
  display: inline-block;
  padding: 8px 24px;
  background: -webkit-gradient(linear, left top, right top, color-stop(2.63%, #BA2114), color-stop(104.95%, #E65134));
  background: -o-linear-gradient(left, #BA2114 2.63%, #E65134 104.95%);
  background: linear-gradient(90deg, #BA2114 2.63%, #E65134 104.95%);
  border-radius: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 10px;
}

.section-intro .intro-content .intro-left .intro-title .intro-brand .brand-name {
  font-weight: 900;
  font-size: 54px;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.section-intro .intro-content .intro-left .intro-title .intro-brand .brand-name span {
  background: -webkit-gradient(linear, left top, right top, color-stop(-10.06%, #B81F13), color-stop(42.38%, #E75235));
  background: -o-linear-gradient(left, #B81F13 -10.06%, #E75235 42.38%);
  background: linear-gradient(90deg, #B81F13 -10.06%, #E75235 42.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.section-intro .intro-content .intro-left .intro-title h1 {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.01em;
}

.section-intro .intro-content .intro-left .intro-title h2 {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.01em;
}

.section-intro .intro-content .intro-left .intro-title h2 span {
  background: -webkit-gradient(linear, left top, right top, color-stop(28.17%, #B81F13), color-stop(43.02%, #E55033));
  background: -o-linear-gradient(left, #B81F13 28.17%, #E55033 43.02%);
  background: linear-gradient(90deg, #B81F13 28.17%, #E55033 43.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.section-intro .intro-content .intro-left .intro-title .app-timer {
  width: 140px;
  font-size: 32px;
  display: inline-block;
  text-align: center;
  padding: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(28.17%, #B81F13), color-stop(43.02%, #E55033));
  background: -o-linear-gradient(left, #B81F13 28.17%, #E55033 43.02%);
  background: linear-gradient(90deg, #B81F13 28.17%, #E55033 43.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.section-intro .intro-content .intro-left .intro-title .desc {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.section-intro .intro-content .intro-left .intro-title .app-btn {
  margin-top: 40px;
}

.section-intro .intro-content .intro-left .intro-features {
  margin-top: 64px;
}

.section-intro .intro-content .intro-left .intro-features .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.section-intro .intro-content .intro-left .intro-features .item .icon {
  margin-bottom: 24px;
  margin-bottom: 0;
  margin-right: 24px;
}

.section-intro .intro-content .intro-left .intro-features .item .icon img {
  max-width: 28px;
}

.section-intro .intro-content .intro-left .intro-product-image {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  bottom: -70px;
  width: 100%;
  max-width: 320px;
}

.section-intro .intro-content .intro-left .intro-product-image img {
  position: relative;
  z-index: 1;
}

.section-intro .intro-content .intro-form {
  position: relative;
  width: 45%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-intro .intro-content .intro-form .intro-form-box {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 120px;
  padding-right: 80px;
  border-radius: 12px;
}

.section-intro .intro-content .intro-form .intro-form-box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% + 20px);
  height: 100%;
  display: block;
  background: -o-linear-gradient(310.7deg, #B81F13 1.6%, #EA5537 103.8%);
  background: linear-gradient(139.3deg, #B81F13 1.6%, #EA5537 103.8%);
  z-index: -1;
  border-radius: 12px;
}

.section-intro .intro-content .intro-form .intro-form-box .intro-form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 46px;
}

.section-intro .intro-content .intro-form .intro-form-box .intro-form-title span {
  font-weight: 800;
  font-size: 26px;
  line-height: 38px;
  text-transform: uppercase;
}

.section-intro .intro-content .intro-form .intro-form-box .form-input-wrap {
  margin-bottom: 20px;
}

.section-intro .intro-content .intro-form .intro-form-box .form-actions {
  max-width: 240px;
  margin-left: auto;
}

.section-intro .intro-content .intro-form .intro-form-box .app-timer {
  margin-top: 40px;
}

.section-intro .intro-content .intro-form .intro-form-box .app-btn {
  margin-top: 30px;
  width: 100%;
}

.section-intro .intro-content .intro-form .intro-form-box .form-note {
  margin-top: 30px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.section-about {
  position: relative;
}

.section-about .about-bg {
  position: absolute;
  right: -140px;
  top: 0;
  max-width: none;
  z-index: -1;
  max-width: 860px;
}

.section-about .about-content {
  max-width: 940px;
}

.section-about .app-questions {
  position: relative;
  margin-bottom: 80px;
}

.section-about .app-questions:before {
  content: "";
  position: absolute;
  display: block;
  width: 500px;
  height: 500px;
  background-color: rgba(189, 53, 37, 0.5);
  -webkit-filter: blur(200px);
          filter: blur(200px);
  border-radius: 100%;
  z-index: -1;
  top: 40%;
  left: -10%;
}

.section-about .app-questions .item {
  height: 100%;
  padding: 32px;
  background: #181818;
  border-radius: 12px;
}

.section-about .app-title {
  margin-bottom: 40px;
}

.section-about .app-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-about .app-info .left {
  max-width: 40%;
  padding-right: 40px;
  margin-right: 50px;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}

.section-about .app-info .right .info-list {
  counter-reset: counter;
  margin-bottom: 60px;
}

.section-about .app-info .right .info-list li {
  counter-increment: counter;
  position: relative;
  margin-bottom: 40px;
  padding-left: 80px;
}

.section-about .app-info .right .info-list li:before {
  width: 54px;
  height: 54px;
  border-radius: 100%;
  content: counter(counter) "";
  color: #ffffff;
  position: absolute;
  left: 0;
  border: 2px solid #B81F13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.section-about .app-info .right .info-list li:last-child {
  margin-bottom: 0;
}

.section-features .app-features.is-narrow {
  max-width: 900px;
  margin: 0 auto;
}

.section-features .app-features .item {
  height: 100%;
  text-align: center;
  padding: 32px 32px;
  background: #181818;
  border-radius: 12px;
  letter-spacing: -0.01em;
}

.section-features .app-features .item .icon {
  margin-bottom: 30px;
}

.section-features .app-features .item .icon img {
  max-width: 56px;
}

.section-features .app-features .item .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.section-cta {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-cta::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -o-linear-gradient(359.76deg, #E65134 0.2%, #B81F13 56.53%, rgba(238, 89, 57, 0.17) 99.79%);
  background: linear-gradient(90.24deg, #E65134 0.2%, #B81F13 56.53%, rgba(238, 89, 57, 0.17) 99.79%);
  z-index: -1;
}

.section-cta.has-top {
  padding-top: 0;
}

.section-cta.has-top::before {
  height: calc(100% + 120px);
}

.section-cta .cta-content {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}

.section-cta .cta-title {
  max-width: 500px;
}

.section-cta .cta-title h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  margin: 0;
}

.section-cta .cta-title h3 span {
  font-weight: 800;
  text-transform: uppercase;
}

.section-cta .cta-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.section-cta .cta-actions .app-btn {
  min-width: 240px;
}

.section-cta .cta-actions .app-timer {
  text-align: center;
  padding: 24px 0;
}

.app-timer {
  width: 200px;
  font-size: 42px;
  font-weight: 700;
  text-align: right;
  margin-left: auto;
}

.section-product-consist {
  padding: 120px 0 60px;
}

.section-product-consist .app-product-consist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-product-consist .app-product-consist .left {
  text-align: right;
}

.section-product-consist .app-product-consist .left .image {
  margin-left: auto;
}

.section-product-consist .app-product-consist .product-image {
  position: relative;
  width: 40%;
  padding: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
}

.section-product-consist .app-product-consist .product-image::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 500px;
  background: rgba(189, 53, 37, 0.5);
  -webkit-filter: blur(150px);
          filter: blur(150px);
  border-radius: 100%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.section-product-consist .app-product-consist .item {
  max-width: 400px;
  margin-bottom: 60px;
}

.section-product-consist .app-product-consist .item .image {
  display: inline-block;
  position: relative;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-bottom: 24px;
  border: 2px solid #ffffff;
}

.section-product-consist .app-product-consist .item .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.section-product-consist .app-product-consist .item .title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.01em;
}

.section-how-it-works {
  position: relative;
  padding: 160px 0;
}

.section-how-it-works .how-it-works-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: none;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.section-how-it-works .app-how-it-works .product-image {
  position: relative;
  max-width: 300px;
  margin-left: auto;
  margin-right: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-how-it-works .app-how-it-works .product-image::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 500px;
  background: rgba(189, 53, 37, 0.5);
  -webkit-filter: blur(150px);
          filter: blur(150px);
  border-radius: 100%;
}

.section-how-it-works .app-how-it-works .product-image .image-desc {
  position: absolute;
  bottom: 20px;
  left: -30%;
  max-width: 300px;
  padding: 22px 28px;
  background: -webkit-gradient(linear, right top, left top, from(#F05B3A), color-stop(104.18%, #B51C11));
  background: -o-linear-gradient(right, #F05B3A 0%, #B51C11 104.18%);
  background: linear-gradient(270deg, #F05B3A 0%, #B51C11 104.18%);
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.section-how-it-works .app-how-it-works .how-it-works-list {
  max-width: 500px;
}

.section-how-it-works .app-how-it-works .how-it-works-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  margin-bottom: 60px;
}

.section-how-it-works .app-how-it-works .how-it-works-list .item .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 64px;
}

.section-how-it-works .app-how-it-works .how-it-works-list .item .icon img {
  max-width: 100%;
  max-height: 100%;
}

.section-reviews {
  padding: 140px 0 80px;
}

.section-reviews .app-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.section-reviews .swiper-buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: auto;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-reviews .swiper-buttons .swiper-button {
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
  position: relative;
  right: 0;
  top: 0;
  left: auto;
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid #ffffff;
  opacity: 0.4;
  background-image: none;
  margin: 0;
  border-radius: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-reviews .swiper-buttons .swiper-button:after {
  -webkit-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.section-reviews .swiper-buttons .swiper-button:hover {
  opacity: 0.8;
}

.section-reviews .swiper-buttons .swiper-button:active {
  opacity: 1;
}

.section-reviews .swiper-buttons .swiper-button.swiper-button-prev:after {
  -webkit-transform: translateX(-1px);
      -ms-transform: translateX(-1px);
          transform: translateX(-1px);
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.70314 10.9998C6.85847 11.0032 7.01101 10.9582 7.13955 10.8709C7.26809 10.7836 7.36624 10.6584 7.42035 10.5128C7.47447 10.3671 7.48186 10.2083 7.4415 10.0582C7.40114 9.90818 7.31503 9.7745 7.19515 9.67566L2.62103 5.75709L7.19515 1.83989C7.27808 1.77894 7.34753 1.70156 7.39915 1.61253C7.45077 1.52349 7.48346 1.42473 7.49515 1.32249C7.50685 1.22024 7.49731 1.1167 7.46713 1.0183C7.43695 0.919913 7.38678 0.828784 7.31976 0.75068C7.25274 0.672576 7.17032 0.609221 7.07766 0.564447C6.98499 0.519672 6.88408 0.494525 6.78124 0.490557C6.6784 0.486589 6.57585 0.503839 6.48001 0.54134C6.38417 0.578841 6.2971 0.635725 6.22426 0.708433L0.987316 5.18916C0.905076 5.25934 0.839037 5.34645 0.793754 5.44463C0.748471 5.5428 0.725021 5.64966 0.725021 5.75778C0.725021 5.86589 0.748471 5.97275 0.793754 6.07092C0.839037 6.1691 0.905076 6.2563 0.987316 6.32648L6.22426 10.8115C6.35656 10.929 6.52624 10.9958 6.70314 11L6.70314 10.9998Z' fill='%23ffffff' /%3E%3C/svg%3E%0A");
}

.section-reviews .swiper-buttons .swiper-button.swiper-button-next:after {
  -webkit-transform: translateX(1px);
      -ms-transform: translateX(1px);
          transform: translateX(1px);
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.29686 0.000180975C1.14153 -0.00323552 0.988987 0.0417941 0.860449 0.129079C0.731911 0.216363 0.633761 0.341589 0.579647 0.487233C0.525532 0.632878 0.518142 0.791742 0.558502 0.941781C0.598862 1.09182 0.684968 1.2255 0.804849 1.32434L5.37897 5.24291L0.804849 9.16011C0.721922 9.22106 0.652472 9.29844 0.600849 9.38747C0.549227 9.47651 0.516543 9.57527 0.504845 9.67751C0.493147 9.77976 0.502687 9.8833 0.532867 9.9817C0.563047 10.0801 0.613217 10.1712 0.680236 10.2493C0.747254 10.3274 0.829677 10.3908 0.922343 10.4356C1.01501 10.4803 1.11592 10.5055 1.21876 10.5094C1.3216 10.5134 1.42415 10.4962 1.51999 10.4587C1.61583 10.4212 1.7029 10.3643 1.77574 10.2916L7.01268 5.81084C7.09492 5.74066 7.16096 5.65355 7.20625 5.55537C7.25153 5.4572 7.27498 5.35034 7.27498 5.24222C7.27498 5.13411 7.25153 5.02725 7.20625 4.92908C7.16096 4.8309 7.09492 4.7437 7.01268 4.67352L1.77574 0.188484C1.64344 0.070977 1.47376 0.00417162 1.29686 8.53677e-06V0.000180975Z' fill='%23ffffff' /%3E%3C/svg%3E%0A");
}

.section-reviews .swiper-buttons .swiper-button-disabled {
  opacity: 0.2;
}

.section-reviews .app-reviews-slider {
  position: relative;
  padding-left: calc((100% - 1300px) / 2);
  margin-left: 50px;
}

.section-reviews .app-reviews-slider::before {
  content: "";
  position: absolute;
  display: block;
  top: -10%;
  left: 10%;
  width: 300px;
  height: 300px;
  background: rgba(189, 53, 37, 0.5);
  -webkit-filter: blur(150px);
          filter: blur(150px);
  border-radius: 1000000px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.section-reviews .app-reviews-slider .reviews-slider .review .avatar {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.section-reviews .app-reviews-slider .reviews-slider .review .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.section-reviews .app-reviews-slider .reviews-slider .review .name {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.bg-wrap {
  position: relative;
}

.bg-wrap .bottom-bg {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  max-width: none;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.scroll-top {
  position: fixed;
  display: block;
  width: 54px;
  height: 54px;
  background: rgba(255, 255, 255, 0.1);
  bottom: 40px;
  right: 40px;
  border-radius: 100%;
  z-index: 5;
}

.scroll-top:hover {
  background: rgba(255, 255, 255, 0.2);
}

.scroll-top::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.7 0.8L7.7 3.8C8.1 4.2 8.1 4.8 7.7 5.2C7.3 5.6 6.7 5.6 6.3 5.2L3.3 2.2C2.9 1.8 2.9 1.2 3.3 0.8C3.7 0.4 4.3 0.4 4.7 0.8Z' fill='white'/%3E%3Cpath d='M4.7 2.2L1.7 5.2C1.3 5.6 0.7 5.6 0.3 5.2C-0.0999998 4.8 -0.0999998 4.2 0.3 3.8L3.3 0.8C3.7 0.4 4.3 0.4 4.7 0.8C5.1 1.2 5.1 1.8 4.7 2.2Z' fill='white'/%3E%3C/svg%3E%0A");
}

::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-ms-input-placeholder {
  color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-size: 14px !important;
  line-height: 14px !important;
  padding: 0 10px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel],
input[type=number],
input[type=search],
select,
textarea {
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  width: 100%;
  height: 42px;
  line-height: normal;
  font-size: 14px;
  line-height: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.51);
  border-radius: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none !important;
  color: #ffffff;
  max-width: 100%;
  outline: none;
}

textarea {
  padding: 12px 20px;
}

.form-input-wrap {
  position: relative;
}

.form-input-error {
  position: relative;
  top: 8px;
  color: #ffffff;
  font-size: 11px;
  line-height: 11px;
  text-align: right;
}

.app-btn {
  -webkit-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
  background: #ffffff;
  color: #C41D11;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  padding: 0 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none !important;
  outline: none !important;
}

.app-btn:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

@media only screen and (max-width: 1200px) {
  .section-intro .intro-content .intro-left {
    padding-right: 100px;
  }

  .section-intro .intro-content .intro-left .intro-features .item .icon {
    margin-bottom: 0;
    margin-right: 24px;
  }

  .section-intro .intro-content .intro-form .intro-form-box {
    padding-right: 0;
  }

  .section-intro .intro-content .intro-form .intro-form-box::before {
    width: calc(120% + 20px);
  }

  .section-cta {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-cta .cta-content {
    gap: 30px;
  }

  .section-cta .cta-actions {
    gap: 30px;
  }

  .section-cta .cta-actions .app-btn {
    min-width: 200px;
  }

  .app-timer {
    font-size: 38px;
  }
}

@media only screen and (max-width: 992px) {
  section {
    padding: 60px 0;
  }

  .app-title {
    margin-bottom: 60px;
  }

  .app-title h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .section-intro {
    padding-bottom: 0;
  }

  .section-intro .intro-bg {
    height: auto;
    width: 140%;
  }

  .section-intro .intro-content {
    display: block;
  }

  .section-intro .intro-content .intro-left {
    width: 100%;
    padding-right: 0;
  }

  .section-intro .intro-content .intro-left .intro-title {
    text-align: center;
  }

  .section-intro .intro-content .intro-left .intro-features-wrap {
    margin-top: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-intro .intro-content .intro-left .intro-features {
    margin-top: 0;
  }

  .section-intro .intro-content .intro-left .intro-features .item .icon img {
    max-width: 20px;
  }

  .section-intro .intro-content .intro-left .intro-product-image {
    position: relative;
    z-index: 1;
    left: auto;
    margin-left: 0;
    bottom: auto;
    max-width: 280px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .section-intro .intro-content .intro-left .intro-product-image:before {
    content: "";
    position: absolute;
    display: block;
    width: 500px;
    height: 500px;
    background: rgba(189, 53, 37, 0.5);
    -webkit-filter: blur(150px);
            filter: blur(150px);
    border-radius: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .section-intro .intro-content .intro-form {
    width: 100%;
  }

  .section-intro .intro-content .intro-form .intro-form-box {
    padding: 50px;
  }

  .section-intro .intro-content .intro-form .intro-form-box::before {
    height: 110%;
    width: 140%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .section-intro .intro-content .intro-form .intro-form-box .form-actions {
    max-width: 400px;
  }

  .section-about .about-bg {
    height: auto;
    width: 140%;
  }

  .section-cta .cta-actions {
    display: block;
  }

  .app-timer {
    font-size: 34px;
  }

  .section-product-consist {
    padding: 80px 0 20px;
  }

  .section-how-it-works {
    padding: 80px 0;
  }

  .section-how-it-works .app-how-it-works .product-image {
    margin-right: 60px;
  }

  .section-how-it-works .app-how-it-works .product-image .image-desc {
    bottom: 20px;
    left: 0;
  }

  .section-how-it-works .app-how-it-works .how-it-works-list .item {
    gap: 30px;
    margin-bottom: 30px;
  }

  .section-how-it-works .app-how-it-works .how-it-works-list .item .icon {
    width: 52px;
    height: 52px;
  }

  .section-reviews {
    padding: 80px 0 40px;
  }

  .bg-wrap .bottom-bg {
    height: auto;
    width: 140%;
  }

  .scroll-top {
    bottom: 20px;
    right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .app-page.is-centered {
    padding: 50px 0 0;
  }

  .app-container {
    max-width: 100%;
    padding: 0 16px;
  }

  section {
    padding: 60px 0;
  }

  .app-title {
    margin-bottom: 40px;
  }

  .section-intro .intro-content .intro-left .intro-title .intro-brand {
    margin-bottom: 32px;
  }

  .section-intro .intro-content .intro-left .intro-title .intro-brand .brand-desc {
    font-size: 12px;
    line-height: 16px;
    padding: 6px 20px;
  }

  .section-intro .intro-content .intro-left .intro-title .intro-brand .brand-name {
    font-size: 34px;
    line-height: 40px;
  }

  .section-intro .intro-content .intro-left .intro-features .item {
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .section-intro .intro-content .intro-left .intro-features .item .icon {
    margin-right: 14px;
  }

  .section-intro .intro-content .intro-form .intro-form-box {
    padding: 30px 16px 50px;
  }

  .section-about .app-info {
    display: block;
  }

  .section-about .app-info .left {
    max-width: 100%;
    border: 0;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .section-about .app-info .right .info-list li:before {
    width: 44px;
    height: 44px;
  }

  .section-features .app-features .item .icon {
    margin-bottom: 20px;
  }

  .section-features .app-features .item .icon img {
    max-width: 46px;
  }

  .section-cta .cta-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .section-product-consist .app-product-consist {
    display: block;
  }

  .section-product-consist .app-product-consist .left {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .section-product-consist .app-product-consist .left .image {
    margin-left: 0;
  }

  .section-product-consist .app-product-consist .product-image {
    display: none;
  }

  .section-product-consist .app-product-consist .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .section-product-consist .app-product-consist .item {
    width: 50%;
    max-width: 100%;
    padding: 16px;
    text-align: center;
  }

  .section-how-it-works .how-it-works-bg {
    height: auto;
  }

  .section-how-it-works .app-how-it-works .product-image {
    max-width: 240px;
    margin: 0 auto 40px;
  }

  .section-how-it-works .app-how-it-works .app-title {
    text-align: center;
    margin-bottom: 60px;
  }

  .section-how-it-works .app-how-it-works .how-it-works-list {
    margin: 0 auto;
  }

  .section-reviews .app-reviews-slider {
    margin-left: 16px;
  }
}

@media only screen and (max-width: 567px) {
  .text-md {
    font-size: 16px;
    line-height: 24px;
  }

  section {
    padding: 30px 0;
  }

  .app-title h2 {
    font-size: 24px;
    line-height: 30px;
  }

  .app-title h2 .strong {
    font-size: 30px;
    line-height: 36px;
  }

  .section-intro .intro-bg {
    width: 160%;
    top: 20%;
  }

  .section-intro .intro-content .intro-left .intro-title h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .section-intro .intro-content .intro-left .intro-title h2 {
    font-size: 20px;
    line-height: 26px;
  }

  .section-intro .intro-content .intro-left .intro-title .desc {
    margin-top: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .section-intro .intro-content .intro-left .intro-features-wrap {
    margin-top: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-intro .intro-content .intro-left .intro-product-image {
    max-width: 240px;
  }

  .section-intro .intro-content .intro-form .intro-form-box .intro-form-title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  .section-intro .intro-content .intro-form .intro-form-box .intro-form-title span {
    font-size: 24px;
    line-height: 32px;
  }

  .section-intro .intro-content .intro-form .intro-form-box .form-actions {
    max-width: 100%;
  }

  .section-about .about-bg {
    width: 160%;
    top: 20%;
  }

  .section-about .app-questions .item {
    padding: 24px;
  }

  .section-about .app-info .right .info-list {
    margin-bottom: 30px;
  }

  .section-about .app-info .right .info-list li {
    margin-bottom: 20px;
    padding-left: 60px;
  }

  .section-cta .cta-title h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .section-product-consist .app-product-consist .left {
    display: block;
  }

  .section-product-consist .app-product-consist .right {
    display: block;
  }

  .section-product-consist .app-product-consist .item {
    width: 100%;
    padding: 0;
  }

  .section-product-consist .app-product-consist .item .title {
    font-size: 20px;
    line-height: 26px;
  }

  .section-how-it-works .how-it-works-bg {
    height: 30%;
  }

  .section-reviews .app-reviews-slider {
    margin-right: 16px;
  }

  .section-reviews .app-reviews-slider .reviews-slider .review {
    text-align: center;
  }

  .bg-wrap .bottom-bg {
    width: 160%;
    top: 20%;
  }
}
@supports (-webkit-appearance:none){
.section-reviews .swiper-buttons .swiper-button.swiper-button-prev:after{background-image:url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.70314 10.9998C6.85847 11.0032 7.01101 10.9582 7.13955 10.8709C7.26809 10.7836 7.36624 10.6584 7.42035 10.5128C7.47447 10.3671 7.48186 10.2083 7.4415 10.0582C7.40114 9.90818 7.31503 9.7745 7.19515 9.67566L2.62103 5.75709L7.19515 1.83989C7.27808 1.77894 7.34753 1.70156 7.39915 1.61253C7.45077 1.52349 7.48346 1.42473 7.49515 1.32249C7.50685 1.22024 7.49731 1.1167 7.46713 1.0183C7.43695 0.919913 7.38678 0.828784 7.31976 0.75068C7.25274 0.672576 7.17032 0.609221 7.07766 0.564447C6.98499 0.519672 6.88408 0.494525 6.78124 0.490557C6.6784 0.486589 6.57585 0.503839 6.48001 0.54134C6.38417 0.578841 6.2971 0.635725 6.22426 0.708433L0.987316 5.18916C0.905076 5.25934 0.839037 5.34645 0.793754 5.44463C0.748471 5.5428 0.725021 5.64966 0.725021 5.75778C0.725021 5.86589 0.748471 5.97275 0.793754 6.07092C0.839037 6.1691 0.905076 6.2563 0.987316 6.32648L6.22426 10.8115C6.35656 10.929 6.52624 10.9958 6.70314 11L6.70314 10.9998Z' fill='%23ffffff' /%3E%3C/svg%3E%0A")}
.section-reviews .swiper-buttons .swiper-button.swiper-button-next:after{background-image:url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.29686 0.000180975C1.14153 -0.00323552 0.988987 0.0417941 0.860449 0.129079C0.731911 0.216363 0.633761 0.341589 0.579647 0.487233C0.525532 0.632878 0.518142 0.791742 0.558502 0.941781C0.598862 1.09182 0.684968 1.2255 0.804849 1.32434L5.37897 5.24291L0.804849 9.16011C0.721922 9.22106 0.652472 9.29844 0.600849 9.38747C0.549227 9.47651 0.516543 9.57527 0.504845 9.67751C0.493147 9.77976 0.502687 9.8833 0.532867 9.9817C0.563047 10.0801 0.613217 10.1712 0.680236 10.2493C0.747254 10.3274 0.829677 10.3908 0.922343 10.4356C1.01501 10.4803 1.11592 10.5055 1.21876 10.5094C1.3216 10.5134 1.42415 10.4962 1.51999 10.4587C1.61583 10.4212 1.7029 10.3643 1.77574 10.2916L7.01268 5.81084C7.09492 5.74066 7.16096 5.65355 7.20625 5.55537C7.25153 5.4572 7.27498 5.35034 7.27498 5.24222C7.27498 5.13411 7.25153 5.02725 7.20625 4.92908C7.16096 4.8309 7.09492 4.7437 7.01268 4.67352L1.77574 0.188484C1.64344 0.070977 1.47376 0.00417162 1.29686 8.53677e-06V0.000180975Z' fill='%23ffffff' /%3E%3C/svg%3E%0A")}
.scroll-top::after{background-image:url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.7 0.8L7.7 3.8C8.1 4.2 8.1 4.8 7.7 5.2C7.3 5.6 6.7 5.6 6.3 5.2L3.3 2.2C2.9 1.8 2.9 1.2 3.3 0.8C3.7 0.4 4.3 0.4 4.7 0.8Z' fill='white'/%3E%3Cpath d='M4.7 2.2L1.7 5.2C1.3 5.6 0.7 5.6 0.3 5.2C-0.0999998 4.8 -0.0999998 4.2 0.3 3.8L3.3 0.8C3.7 0.4 4.3 0.4 4.7 0.8C5.1 1.2 5.1 1.8 4.7 2.2Z' fill='white'/%3E%3C/svg%3E%0A")}
}

 @media only screen and (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media only screen and (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media only screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media only screen and (max-width: 567px){

@supports (-webkit-appearance:none){

}

}
